@model PravnaOsoba

@{
    ViewBag.Title = "Brisanje pravne osobe";
}

<h2>Brisanje pravne osobe</h2>

<h3>Jeste li sigurni da želite obrisati ovu pravnu osobu?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            Matični broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MB)
        </dd>

        <dt>
            Adresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
