@model DAL.EF.Presuda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Presuda</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dokument)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dokument)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipPresude1.NazivTipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipPresude1.NazivTipa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDStavke }) |
    @Html.ActionLink("Back to List", "Index")
</p>
