@model Mjesto

@{
    ViewBag.Title = "Dodaj novi";
}

<h2>Dodaj novi</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mjesto</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.pbr, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pbr)
                @*@Html.ValidationMessageFor(model => model.pbr)*@
                <td>@Html.ValidationMessage("Naziv", "Nedozvoljen format unosa.")</td>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.naziv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.naziv)
                @*@Html.ValidationMessageFor(model => model.naziv)*@
                <td>@Html.ValidationMessage("Naziv", "Nedozvoljen format unosa.")</td>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na popis", "Index")
</div>
