@model DAL.EF.Proces

@{
    ViewBag.Title = "Brisanje procesa";
}

<h2>Brisanje</h2>

<h3>Sigurno želite obrisati ovaj proces?</h3>
<div>
    <h4>Proces</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ur. broj
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broj)
        </dd>

        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Klasa)
        </dd>

        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            Vrsta procesa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrstaOznake.OpisOznake)
        </dd>

        <dt>
            Sud na kojem se vodi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sud1.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Nazad", "Index")
        </div>
    }
</div>
