@model Zakon

@{
    ViewBag.Title = "Dodavanje stavka";
}

<h2>Dodavanje stavka</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Naziv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv)
                @Html.ValidationMessage("Naziv", "Naziv stavka je obavezan!")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dokument, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Stavak, new { style = "width: 400px;" })
                @Html.ValidationMessage("Stavak", "Dokument je obavezan!")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak", "Main")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
