@model Rociste

@{
    ViewBag.Title = "Uredi ročište";
}

<h2>Uredi</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ročište</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IDRocista)

        <div class="form-group">
            @Html.LabelForModel("Proces", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IDProcesa, new SelectList(new ProcesBLL().FetchAll(), "IDProcesa", "Naziv"))
                @Html.ValidationMessageFor(model => model.IDProcesa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForModel("Datum i vrijeme početka", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Datum)
                @Html.ValidationMessageFor(model => model.Datum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelForModel("Trajanje", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Trajanje)
                @Html.ValidationMessageFor(model => model.Trajanje)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Povratak na listu", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
